@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
  }

  #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@theme {
  --color-cdri-primary: #4880EE;
  --color-cdri-red: #E84118;
  --color-cdri-gray: #DADADA;
  --color-cdri-light-gray: #F2F4F6;
  --color-cdri-white: #FFFFFF;
  --color-cdri-black: #222222;
}

/*
--- --- --- --- --- --- --- ---

utility: title-*

--- --- --- --- --- --- --- ---
*/
@utility cdri-title-1 {
  font-weight: 700;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
}
@utility cdri-title-2 {
  font-weight: 700;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0%;
}
@utility cdri-title-3 {
  font-weight: 700;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
}

/*
--- --- --- --- --- --- --- ---

utility: body-*

--- --- --- --- --- --- --- ---
*/
@utility cdri-body-1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
}
@utility cdri-body-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
}
@utility cdri-body-2-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
}

/*
--- --- --- --- --- --- --- ---

utility: caption

--- --- --- --- --- --- --- ---
*/
@utility cdri-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}

/*
--- --- --- --- --- --- --- ---

utility: small

--- --- --- --- --- --- --- ---
*/
@utility cdri-small {
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0%;
}


/*
--- --- --- --- --- --- --- ---

utility: theme-text

--- --- --- --- --- --- --- ---
*/
@utility cdri-theme-text-primary {
  color: #353C49;
}
@utility cdri-theme-text-secondary {
  color: #6D7582;
}
@utility cdri-theme-text-subtitle {
  color: #8D94A0;
}