.CDRIInput {
  display: flex;

  /* 
    variant
   */
  &[data-variant="underline"] {
    border-bottom: 1px solid var(--color-cdri-primary);
  }

  &[data-variant="surface"] {
    background-color: var(--color-cdri-light-gray);
    border-radius: 100px;
  }

  /* 
    size
   */
  &[data-size="1"] {
    padding: 8px 8px 5px;
    gap: 9px;

    .input {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0%;
      vertical-align: middle;
    }
  }

  &[data-size="2"] {
    padding: 10px;
    gap: 11px;

    .input {
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0%;
    }
  }
}

.input {
  width: 100%;
  height: fit-content;
  order: 0;

  &::placeholder {
    color: #8D94A0;
  }
}

.slot {
  flex-shrink: 0;

  /* 좌측 자동 배치 */
  &:nth-of-type(1):not([data-side="right"]),
  &[data-side="left"] {
    order: -1;
  }

  /* 우측 자동 배치 */
  &:nth-of-type(2):not([data-side="left"]),
  &[data-side="right"] {
    order: 1;
  }
}
